body {
	font-size: 14pt;
	font-family: Helvetica, sans-serif;
	background-color: #C1EEFF;
}

input {
	width: 3.5em;
	height: 1.25em;
	margin: 0.5em;
	text-align: center;
	font-family: "Comics Sans MS", sans-serif;
	font-size: 16pt;
	vertical-align: middle;
}

#dividend, #divisor, #quotient {
	font-size: 30pt;
	color: black;
}

#numerator, #denominator {
	font-size: 20pt;
	color: black;
}

#fraction {
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	margin: 1em;
}

#fraction input {
	display: block;
	width: 2.5em;
	height: 1.1em;
	background-color: white;
	margin: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

#numerator {
	padding-top: 0px;
	padding-bottom: 0.1em;
	
	border-bottom: 1px solid black;
}

#denominator {
	padding-top: 0.1em;
	padding-bottom: 0px;
	border-bottom-width: 0px;
}

#score, #lives, #high_score {
	color: white;
	background-color: #444444;
	border: 2px solid white;
	border-radius: 100%;
	padding: 0.125em;
	width: 3.25em;
}

input[type="submit"] {
	display: none;
}

table {
	margin-left: 1em;
}

table tr td:first-child {
	text-align: right;
}